#button-send{
    line-height: 42px;
    height:41px;
}

.no-comment-card {
    padding: 20px;
}

#textarea1 {
    background-color: #fff;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

.no-padding {
    padding: 0;
}

.collapsible-header {
    justify-content: center;
    font-weight: bold;
}

.collapsible-header:focus {
    outline: none 0;
}

.listing-comments.collapsible {
    box-shadow: 0;
    -webkit-box-shadow: 0;
}
.dropdown-comment-user-name{
    margin-right: 10px;
    font-weight: bold;
    color: #6BBAEC;
}