.container-main {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.error {
  color: red;
}

.nav-extended,
footer {
  background-color: #6BBAEC;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #efefef;
  font-family: 'Quicksand', sans-serif;
}

main {
  flex: 1 0 auto;
}

footer {
  padding: 20px 0;
  color: #fff;
}
